:root {

    --white: #ffffff !important;
    --whisper: #e7e7e7 !important;

    --black: #000000 !important;
    --black_cow: #474747 !important;

    --french_pass: #c0edff !important;
    --artyclick_sky_blue: #00b5ff !important;

}